@font-face {
    font-family: "Cairo";
    src: url("/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Zen dots";
    src: url("/fonts/Zen_Dots/ZenDots-Regular.ttf") format("truetype");
}

body {
    font-family: "cairo", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

header, footer {
    background-color: #FFFFFF;
}

.logo {
    color: #363636;
    font-size:xx-large;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: underline;
}

.toptext {
    background-color: #770040;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.smalltext1{
    font-size: 12px;
}







/* Navigaiton Specific */
.Navigation {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.listitems {
    display: flex;
    gap: 1em;
    font-size: 17px;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.listitems li {
    padding: 0px 20px;
}


h1 {
    margin: 0px;
}









/*Footer specific*/

.footeralign {
    text-align: center;
}

.footericons {
    color: #770040;
}
.footertext {
    color: #770040;
}

.flexfooter {
    display: flex;
    flex-direction: row;
    

}

.flexfootertext {
 flex: 2;
 align-items: center;
margin: 30px;
 text-align:justify;
}

.footertext2 {
    text-align: center;
}







/*Home page*/

.flexbox1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.flextext1 {
flex: 1;
align-items: center;
min-width: 400px;
}

.flexbox2hp {
 display: flex;
 flex-direction: row;
 flex-flow: row;
}

.flextext2 {
    flex: 1;
    margin: 20px;
}

.vrpic {
    background-image: url("../images/billetto-editorial-334686.jpg");
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
}

.labpic {
    background-image: url("../images/lab-512503_1920.jpg");
    min-height: 12vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0px;
}


.HPH1 {
    background-color: #770040 ;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.HPH2 {
    color: #770040;
    text-transform: uppercase;
}

.HPBACKGROUND {
    background-color: #770040;
}

.HPMAIN1 {
    background-color: #770040 ;
    color: white;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-around;
}

.HPMAIN2 {
    background-color: #770040 ;
    color: white;
    padding: 20px;
}

.Pictectposition {
    position: absolute;
    left: 7%;
    bottom: 65%;
}










/* Explore exhibitions Page*/

.backgroundexp {
    background-color: #B59115;
}
.flextboxex1 {
    flex: 1;
}

.h1exp {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px; 
}

.cosmopic {
    background-image: url("../images/celso-405219.jpg");
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.headpic {
    max-height: 22vh;
    min-width: 60vh;
    border-radius: 5px;
    object-fit: cover;
    padding: 10px;
}

.skeletonpic {
    max-height: 22vh;
    min-width: 60vh;
    border-radius: 5px;
    object-fit: cover;
    padding: 10px;
}

.explorepage {
    background-color: #0E0E0C;
}

.textmargin {
    margin-left: 20px;
    margin-right: 20px;
}

.paddingyellow1 {
    max-width: 700px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.paddingyellow2 {
    max-width: 700px;
    margin-left: 20px;
    margin-bottom: 30px;
}


.exptoptext {
    font-family: "zen dots";
    text-align: center;
    color: white;
    padding: 10px;
}

.expbioandevo {
    background-color: #B59115;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.expcosmo {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

.cosmoheader {
    padding: 30px;
}

.exprobotics {
    background-color: #770040;
    color: white;
    padding: 15px;
    flex: 2;
    margin: 20px;
    border-radius: 5px;;
    min-width: 180px;
}

.expecology {
    background-color: #005C41;
    color: white;
    padding:15px;
    flex: 2;
    margin: 20px;
    border-radius: 5px;
    min-width: 180px;
}


.flexbox2 {
    display: flex;
    flex-flow: wrap;
}


.toppicheight {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    flex-flow: wrap;

}

.bottompicheight {
    max-height: 40vh;
    border-radius: 5px;
    margin: 20px;
}









/* Events page */

.headerbackground{
    background-color: #57002F;
}

.h1event {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.flexboxevent {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}


.boxwidth {
    width: 900px;
    margin: 10px;
    text-align: center;
}


.eventbackground {
    background-color: #490028;
    color: white;
}

.eventtext {
    background-color: #57002F;
    color: white;
    text-transform: uppercase;

}

.Aeropic {
    max-height: 20vh;
    min-width: 60vh;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 50px;
}

.Energeticapic {
    max-height: 20vh;
    min-width: 60vh;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 50px;
}

.nightmuseumpic {
    max-height: 60vh;
    min-width: 40vh;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 50px;
}

.museumpic {
    max-height: 25vh;
    border-radius: 50%;
}


.container {
    width: 900px;
    height: 400px;
    position: relative;
    margin: 20px 20px 240px auto;

}

.container img {
    width: auto;
    Height: 600px;
    border-radius: 5px;

}

.bigtext {
    font-size: 20px;
    font-weight: bolder;
}


.textpositioning {
    color: #FFFFFF;
    font-size: 11px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;

}

.textpositioning2 {
    width: 300px;
    text-align: left;
}










/* Get incvolved page */

.h1involved {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.circlepic {
    position: absolute;
}


.flextevent {
    display: flex;
    flex-flow: column;
}


.headertextbox {
    margin: 0px;
    padding: 1px;
}

.subtextbox {
    margin: 0px;
    padding:30px;
    font-size: 12px;
}

.smalltext {
    max-width: 750px;
}

.supportbackground {
    background-color: #005C41;

}

.volunteerbackground {
    background-color: #B59115;
}

.internshipbackground {
    background-color: #57002F;
    

}

.supporttoptext {
    background-color: #004E37;
    color: white;
    text-align: center;
}

.supportbottext {
    background-color: #005C41;
    color: white;
    text-align: center;
    align-self: center;
}

.volunteertoptext {
    background-color: #B59115;
    color: white;
    text-align: center;
}

.volunteerbottext {
    background-color: #B59115;
    color: white;
    text-align: center;
    align-self: center;
}

.internshiptoptext {
    background-color: #490028;
    color: white;
    text-align: center;
}

.internshipbottext {
    background-color: #57002F;
    color: white;
    text-align: center;
    align-self: center;
}

.orderbutton {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #B59115;

}








/* Tickets Page */

.h1ticket {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ticketbackground {
    background-color: #490028;
    color: white;
    text-align: center;
}

.formbackground {
    background-color: #3C0020;
    color: white;
    text-align: center;
    padding: 2px;
}


.formflextconteiner {
    display: flex;
    gap: 20px;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.formsizer {
    max-width: 600px;
    display: inline-block;
    block-size: 430px;
}

.CTA-tickets {
    color: white;
    background-color: #B59115;
    padding: 8px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    border: #B59115;
    margin: 30px;
}
ßß
input, textarea {
    padding: 6px;
    background-color: #ffffff;
    color: #3C0020;
    border: #3C0020;
    border-radius: 5px;
}










/** ORDER CONFIRMED **/

.h1torder {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.orderconfirmedtext {
    max-width: 700px;
    display: inline-block;
    block-size: 600px;
    padding: 50px;

}

.nomargin {
    padding-top: 30px;
    margin: 0px;
}