@font-face {
    font-family: "Cairo";
    src: url("/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Zen dots";
    src: url("/fonts/Zen_Dots/ZenDots-Regular.ttf") format("truetype");
}

body {
    font-family: "cairo", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

    min-width: 360px;

    --color1: #FFF;
    --color2: #000;
}

header, footer {
    background-color: #FFFFFF;
}

.logo {
    color: #363636;
    font-size:xx-large;
    text-decoration: none;
}

a {
    color: black;
}

.active {
    text-decoration: underline;
}

.toptext {
    background-color: #770040;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.smalltext1{
    font-size: 14px;
}




/* Navigaiton Specific */
.Navigation {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.listitems {
    display: flex;
    gap: 1em;
    font-size: 17px;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.listitems li {
    padding: 0px 20px;
}


h1 {
    margin: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigationbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color1);
    padding: 20px;
}

.navmenu {display: flex;}
.navmenu li {padding-left: 30px;}
.navmenu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color2);
    text-align: center;
    transition: 0.1s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.navmenu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    transition: 0.1s ease-in-out;
    background-color: var(--color2);

}


.navmenu li a:hover:after { width: 100%;}

.open , .closed {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    text-decoration: underline;
}

.open{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.closed {
    top: 10px;
    right: 20px;
}

#burgermenu {
    display: none;
}
@media (max-width: 810px) {
    .navmenu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #FFFFFF;
        transition: all 0.2s ease-in-out ;
        box-shadow: 100px -40px 60px 60px rgba(206, 0, 100, 0.68);

    }
    .navmenu li {margin-top: 20px;}
    .navmenu li a {padding:10px}
    .open , .closed {display: block;}
    #burgermenu:checked ~.navmenu {right: 0; }
}

@media (max-width: 600px) {
    .navmenu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #FFFFFF;
        transition: all 0.s ease-in-out ;

    }
    .navmenu li {margin-top: 0px;}
    .navmenu li a {padding: 10px}
    .open , .closed {display: block;}
    #burgermenu:checked ~.navmenu {right: 0; }
}





.headerlight {
    font-weight: 100;
}
.headerlight2 {
    font-weight: 400;
}




/*Footer specific*/

.clicktext {
    font-size: 15px;
    color: #57002F;
    font-weight: 600;
}

.footeralign {
    text-align: center;
}

.footericons {
    color: #770040;
    font-size: 30px;
    
}
.footertext {
    color: #770040;
    font-size: 18px;
}

.flexfooter {
    display: flex;
    flex-direction: row;
}

@media (min-width: 100px) and (max-width: 880px) {
    .flexfooter {
        display: flex;
        flex-direction: column;
    }
}

.flexfootertext {
 flex: 2;
 align-items: center;
margin: 30px;
 text-align:justify;
}

.footertext2 {
    text-align: center;
}

.footertext1 {
    font-size: 13px;
}

.footericongap {
    padding: 20px;
}

.footericongap1 {
    padding-right: 10px;
}











/*Home page*/

.greenshadow2 {
    box-shadow: -15px -10px 8px -8px rgba(85, 188, 0, 0.56);
    
}

.purplehadow1 {
    box-shadow: -15px -10px 8px -8px rgba(39, 2, 33, 0.65);
}


@media (min-width: 200px) and (max-width: 850px) {
    .purpleshadow3 {
        box-shadow: -15px -10px 8px -8px rgba(255, 62, 236, 0.56);

    }
    .greentexthp {
        background-color: white;

    }
}

.flexbox1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

@media (min-width: 300px) and (max-width: 1220px) {
    .flexbox1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    
    }
}

.flextext1 {
flex: 1;
align-items: center;
min-width: 400px;
}

.flexbox2hp {
 display: flex;
 flex-direction: row;
 flex-flow: row;
}



.flextext2 {
    flex: 1;
    margin: 20px;
}

.vrpic {
    background-image: url("../images/resized/billetto-editorial-334686\ copy-min.jpg");
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    
    
}

.labpic {
    background-image: url("../images/lab-512503_1920.jpg");
    min-height: 12vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0px;
    box-shadow: -10px -5px 5px -20px rgb(52, 0, 30);
}


.HPH1 {
    background-color: #770040 ;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.HPH2 {
    color: #770040;
    text-transform: uppercase;
}

.HPBACKGROUND {
    background-color: #770040;
}

.HPMAIN1 {
    background-color: #770040 ;
    color: white;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-around;
    box-shadow: -15px -10px 8px -8px rgba(85, 188, 0, 0.56);
}

.HPMAIN2 {
    background-color: #770040 ;
    color: white;
    padding: 20px;
}

.Pictectposition {
    position: absolute;
    left: 7%;
    bottom: 65%;
}

@media (min-width: 300px) and (max-width: 850px) {
    .flexbox2hp {
        flex-flow: column;
    }

    .flextext1 {
        flex: 1;
        align-items: center;
        min-width: 300px;
        font-size: 13px;
        padding: 5px;
        }

        .Pictectposition {
            position: absolute;
            left: 2%;
            bottom: 65%;
        }

        .smalltexthp {
            display: block;
        }
        
        .bigtexthp {
            display: none;
        }
        
        
}

.smalltexthp {
    display: none;
}











/* Explore exhibitions Page*/

.fontsize {
    font-size: 22px;
}

.yellowshadow1 {
    box-shadow: -20x -20px -20px -20px rgb(137, 96, 34);
}

.backgroundexp {
    background-color: #B59115;
}
.flextboxex1 {
    flex: 1;
}

.h1exp {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cosmopic {
    background-image: url("../images/celso-405219.jpg");
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.headpic {
    width: 60vh;
    max-height: 22vh;
    min-width: 45vh;
    border-radius: 5px;
    object-fit: cover;
    padding: 10px;
}

.skeletonpic {
    width: 60vh;
    max-height: 22vh;
    min-width: 45vh;
    border-radius: 5px;
    object-fit: cover;
    padding: 10px;
}

.explorepage {
    background-color: #0E0E0C;
}

.textmargin {
    margin-left: 20px;
    margin-right: 20px;
}

.paddingyellow1 {
    max-width: 700px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.paddingyellow2 {
    max-width: 700px;
    margin-left: 20px;
    margin-bottom: 30px;
}


.exptoptext {
    font-family: "zen dots";
    text-align: center;
    color: white;
    padding: 10px;
}

.expbioandevo {
    background-color: #a47e00;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    box-shadow: -1px -20px 30px -25px rgba(255, 0, 136, 0.661);
}

.expcosmo {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    box-shadow: -10px -1px 50px -10px rgb(255, 255, 255);
}

.cosmoheader {
    padding: 30px;
}

.exprobotics {
    background-color: #770040;
    color: white;
    padding: 15px;
    flex: 2;
    margin: 20px;
    border-radius: 5px;;
    min-width: 180px;
}

.expecology {
    background-color: #005C41;
    color: white;
    padding:15px;
    flex: 2;
    margin: 20px;
    border-radius: 5px;
    min-width: 180px;
}


.flexbox2 {
    display: flex;
    flex-flow: wrap;
}


.toppicheight {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    flex-flow: wrap;

}

.bottompicheight {
    max-height: 40vh;
    border-radius: 5px;
    margin: 20px;
}

@media (max-width: 600px) {
    .expbioandevo {
        background-color: #B59115;
        color: white;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-direction: column;
    }
}















/* Events page */

.headerbackground{
    background-color: #57002F;
}

.h1event {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.flexboxevent {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}


.boxwidth {
    max-width: 900px;
    margin: 10px;
    text-align: center;
}


.eventbackground {
    background-color: #2d0018;
    color: white;
}

.eventtext {
    background-color: #57002F;
    color: white;
    text-transform: uppercase;

}

.Aeropic {
    width: 60px;
    max-height: 20vh;
    min-width: 45vh;
    border-radius: 5px;
    object-fit: cover;
}

.Energeticapic {
    width: 60px;
    max-height: 20vh;
    min-width: 45vh;
    border-radius: 5px;
    object-fit: cover;
}

.nightmuseumpic {
    max-height: 60vh;
    min-width: 45vh;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 50px;
}

.museumpic {
    max-height: 25vh;
    border-radius: 50%;
}


.container {
    max-width: 900px;
    height: 400px;
    position: relative;
    margin: 20px 20px 240px auto;

}

.container img {
    width: auto;
    Height: 600px;
    border-radius: 5px;

}

.bigtext {
    font-size: 20px;
    font-weight: bolder;
}


.textpositioning {
    color: #FFFFFF;
    font-size: 11px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;

}

.textpositioning2 {
    width: 300px;
    text-align: left;
}

@media (max-width: 600px) {
    .container img {
        width: auto;
        Height: 400px;
        border-radius: 5px;
    
    }

    .textpositioning {
        color: #FFFFFF;
        font-size: 11px;
        position: absolute;
        top: 130%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 340px;
        
    
    }
    
}


@media (min-width: 921px) and (max-width: 1839px) {
    .container {
        max-width: 900px;
        height: 400px;
        position: relative;
        margin: 20px 20px 240px auto;
        width: 1000px;
    
    }
}














/* Get incvolved page */

.yellowshadow {
    box-shadow: -10px -1px 5px -5px rgba(137, 96, 34, 0.522);
}

.purpleshadow {
    box-shadow: -10px -1px 5px -5px rgba(52, 0, 30, 0.47);
    
}

.greenshadow {
    box-shadow: -10px -1px 5px -5px rgba(27, 51, 25, 0.507);
}

.h1involved {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    
}

.circlepic {
    position: absolute;
}


.flextevent {
    display: flex;
    flex-flow: column;
}


.headertextbox {
    margin: 0px;
    padding: 1px;
    
    
}

.subtextbox {
    margin: 0px;
    padding:30px;
    font-size: 13px;
}

.smalltext {
    max-width: 750px;
}

.supportbackground {
    background-color: #005C41;

}

.volunteerbackground {
    background-color: #a47e00;
}

.internshipbackground {
    background-color: #57002F;
    

}

.supporttoptext {
    background-color: #004E37;
    color: white;
    text-align: center;
    box-shadow: -5px 5px 5px rgb(27, 51, 25);
}

.supportbottext {
    background-color: #005C41;
    color: white;
    text-align: center;
    align-self: center;
}

.volunteertoptext {
    background-color: #997600;
    color: white;
    text-align: center;
    box-shadow: -5px 5px 5px rgb(137, 96, 34);
}

.volunteerbottext {
    background-color: #a47e00;
    color: white;
    text-align: center;
    align-self: center;
}

.internshiptoptext {
    background-color: #490028;
    color: white;
    text-align: center;
    box-shadow: -5px 5px 5px rgb(52, 0, 30);
}

.internshipbottext {
    background-color: #57002F;
    color: white;
    text-align: center;
    align-self: center;
}

.orderbutton {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #B59115;

}













/* Tickets Page */

.h1ticket {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ticketbackground {
    background-color: #490028;
    color: white;
    text-align: center;
}

.formbackground {
    background-color: #3C0020;
    color: white;
    text-align: center;
    padding: 2px;
}


.formflextconteiner {
    display: flex;
    gap: 20px;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.formsizer {
    max-width: 600px;
    display: inline-block;
}

.CTA-tickets {
    color: white;
    background-color: #B59115;
    padding: 8px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    border: #B59115;
    margin: 30px;
}
ßß
input, textarea {
    padding: 6px;
    background-color: #ffffff;
    color: #3C0020;
    border: #3C0020;
    border-radius: 5px;
}

form input {
    padding: 5px 15px;
}















/** ORDER CONFIRMED **/

.h1torder {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.orderconfirmedtext {
    max-width: 700px;
    display: inline-block;
    block-size: 600px;
    padding: 50px;

}

.nomargin {
    padding-top: 30px;
    margin: 0px;
}